<div class="bg-light d-flex flex-column align-items-center" style="height: 100vh;">
    <div style="max-width: 400px; width: 100%;" class="mt-5">
        <div class="card shadow-lg rounded-3">
            <div class="card-body text-center">
                <p class="card-text fs-5 text-dark mb-4">Awesome! Your order will be ready soon</p>
                <button class="btn btn-outline-primary btn-md" onclick="window.location.href='/home'">Return to Home</button>
            </div>
        </div>
    </div>
</div>
