@model ProductDto

<form asp-action="ProductDelete">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-12">
                <div class="card shadow-lg border-light">
                    <div class="card-header bg-danger text-white text-center">
                        <h5 class="m-0" style="font-size: 1.5rem;">Delete Product</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <input hidden asp-for="ProductId" />

                            <div class="col-12 mb-4">
                                <label for="Name" class="form-label h6">Product Name</label>
                                <input asp-for="Name" id="Name" class="form-control form-control-lg" disabled />
                            </div>

                            <div class="col-12 mb-4">
                                <label for="CategoryName" class="form-label h6">Category</label>
                                <input asp-for="CategoryName" id="CategoryName" class="form-control form-control-lg" disabled />
                            </div>

                            <div class="col-12 mb-4">
                                <label for="Description" class="form-label h6">Product Description</label>
                                <textarea asp-for="Description" id="Description" class="form-control form-control-lg" rows="4" disabled></textarea>
                            </div>

                            <div class="col-12 mb-4">
                                <label for="Price" class="form-label h6">Price</label>
                                <input asp-for="Price" id="Price" type="number" class="form-control form-control-lg" disabled />
                            </div>

                            <div class="col-12 mb-4">
                                <label for="ImageUrl" class="form-label h6">Image URL</label>
                                <input asp-for="ImageUrl" id="ImageUrl" class="form-control form-control-lg" disabled />
                            </div>

                            <div class="col-12 d-flex justify-content-between mt-4">
                                <a asp-action="ProductIndex" class="btn btn-outline-primary btn-md">Back to List</a>
                                <button type="submit" class="btn btn-outline-danger btn-md">Delete Product</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
