
 @model ProductDto

<form asp-action="ProductCreate" enctype="multipart/form-data">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-12">
                <div class="card shadow-lg border-light">
                    <div class="card-header bg-primary text-white text-center">
                        <h5 class="m-0" style="font-size: 1.5rem;">Create Product</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">

                            <div class="col-12 mb-4">
                                <label for="Name" class="form-label h6">Product Name</label>
                                <input asp-for="Name" id="Name" class="form-control form-control-lg" required />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                            <div class="col-12 mb-4">
                                <label for="CategoryName" class="form-label h6">Category</label>
                                <input asp-for="CategoryName" id="CategoryName" class="form-control form-control-lg" required />
                                <span asp-validation-for="CategoryName" class="text-danger"></span>
                            </div>

                            <div class="col-12 mb-4">
                                <label for="Description" class="form-label h6">Product Description</label>
                                <textarea asp-for="Description" id="Description" class="form-control form-control-lg" rows="4" required></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>

                            <div class="col-12 mb-4">
                                <label for="Price" class="form-label h6">Price</label>
                                <input asp-for="Price" id="Price" type="number" min="0" step=".01" class="form-control form-control-lg" required />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>

                            <div class="col-12 mb-4">
                                <label for="ImageUrl" class="form-label h6">Image URL</label>
                                <input asp-for="Image" class="form-control" />
                                <input asp-for="ImageUrl" hidden class="form-control" />
                                <span asp-validation-for="Image" class="text-danger"></span>
                            </div>

                            <div class="col-12 d-flex justify-content-between mt-4">
                                <a asp-action="ProductIndex" class="btn btn-outline-primary btn-md">Cancel</a>
                                <button type="submit" class="btn btn-outline-primary btn-md">Create Product</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}